.book-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw; /* was 20px */
  padding: 0 2vw; /* was 20px */
  margin-bottom: 2vw; /* was 40px */
}

.book-card {
  background-color: #ffffff;
  color: black;
  border: 0.1vw solid #ddd;
  text-align: center;
  padding: 1vw; /* was 10px */
  border-radius: 0.5vw;
}

.book-card img {
  width: 100%;
  height: auto;
}

.book-title {
  font-weight: bold;
  font-size: 14px;
}

.book-price {
  color: #0094ff;
  font-weight: bold;
}