.navbar {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    padding: 1vw 0;
    color: #0094ff;
    width: 100%;
}

.logo {
    font-weight: bold;
    font-size: 1.25vw; /* was 24px */
    margin-left: 2vw;
    margin-right: 1vw;
}

.search-bar {
    margin-left: 5%;
    margin-right: 5%;
    padding: 0.5vw 0.5vw;
    padding-right: 13vw; /* was 250px */
    border: none;
    border-radius: 0.5vw;
    background-color: blue;
    color: #333;
    font-size: 0.8vw;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    margin-right: 7vw;
    margin-left: 5vw;
    gap: 7vw;
    align-items: center;
    font-weight: 600;
}

.login-btn {   
    background-color: white;
    color: #0094ff;
    border-radius: 0;
    padding: 0.3vw 0.5vw;
    font-weight: bold;
    cursor: pointer;
}
